.secao-banner {
  background-color: rgb(221, 221, 1);
  padding: 100px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 600px;
}
.secao-banner div {
  height: 100%;
  background: linear-gradient(47deg, #000113 0%, #04061d 80%, #04061d 100%);
  background-image: url("../../Assets/banner-home.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  color: white;
}
.secao-banner div h1 {
  font-size: 45px;
  text-shadow: #000 2px 3px 2px;
}
.secao-eventos,
.secao-sabores,
.secao-sobre {
  display: flex;
}
.secao-eventos {
  flex-direction: row-reverse;
}
.secao-sobre {
  flex-direction: row;
}
.secao-sabores img,
.secao-eventos img,
.secao-sobre img {
  width: 100%;
  height: 100%;
}
.secao-sabores div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.secao-sabores p,
.secao-sobre p,
.secao-eventos p {
  font-size: 15px;
  text-align: center;
  margin: 50px;
}
.secao-sabores h2 {
  font-size: 35px;
}
.secao-sabores span {
  font-size: 22px;
  font-weight: bold;
}
.secao-eventos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.secao-eventos h2 {
  font-size: 35px;
}
.secao-eventos p {
  margin: 50px;
}
.secao-eventos span {
  font-weight: bold;
  font-size: 22px;
}
.secao-sabores div div,
.secao-eventos div div,
.secao-sobre div div {
  margin-top: 20px;
  width: 100%;
}
.secao-eventos span,
.secao-sabores span,
.secao-sobre span {
  text-align: center;
}
.secao-sabores div,
.secao-eventos div,
.secao-sobre div {
  width: 100%;
}
.secao-sobre div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.secao-sobre h2 {
  font-size: 35px;
}
.secao-sobre span {
  font-size: 22px;
  font-weight: bold;
}
.secao-sobre p {
  text-align: center;
  margin: 50px;
}

@media screen and (max-width: 425px) {
  .secao-banner .div-banner h1 {
    font-size: 35px;
    text-align: center;
  }

  .secao-eventos,
  .secao-sabores,
  .secao-sobre {
    display: flex;
    flex-direction: column;
  }
  .secao-eventos h2,
  .secao-sabores h2,
  .secao-sobre h2 {
    font-size: 25px;
    text-align: center;
  }
  .secao-eventos span,
  .secao-sabores span,
  .secao-sobre span {
    font-size: 20px;
  }
  .secao-eventos p,
  .secao-sabores p,
  .secao-sobre p {
    font-size: 13px;
    margin: 50px;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .secao-eventos,
  .secao-sabores,
  .secao-sobre {
    display: flex;
    flex-direction: column;
  }
  .secao-banner .div-banner h1 {
    text-align: center;
  }
}
